@cellSpace     	: 70px;
@boardSize		: 10;
@borderSize    	: 10px;
@pieceNumber   	: 15;
@pieceImg    	: url('/img/simchess.png');
@imgWidth    	: 1554px;
@imgHeight   	: 533px;


@media only screen and (max-width: 479px) {
    @cellSpace     	: 70px /2;
    @borderSize    	: 10px /2;
    @imgWidth    	: 1554px /2;
    @imgHeight   	: 533px /2;

}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    @cellSpace     	: 70px /1.5;
    @boardSize		: 10;
    @borderSize    	: 10px /1.5;
    @pieceNumber   	: 15;
    @pieceImg    	: url('/img/simchess.png');
    @imgWidth    	: 1554px /1.5;
    @imgHeight   	: 533px /1.5;

}

/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* STYLES GO HERE */
    @cellSpace     	: 70px / 1554*480;
    @borderSize    	: 10px / 1554*480;
    @imgWidth    	: 1554px / 1554*480;
    @imgHeight   	: 533px / 1554*480;
}
 
/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* STYLES GO HERE */
    @cellSpace     	: 70px / 1554*480;
    @borderSize    	: 10px / 1554*480;
    @imgWidth    	: 1554px / 1554*480;
    @imgHeight   	: 533px / 1554*480;
}
 
/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* STYLES GO HERE */
    @cellSpace     	: 70px /2;
    @borderSize    	: 10px /2;
    @imgWidth    	: 1554px /2;
    @imgHeight   	: 533px /2;
}
 
/* iPads (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px) {
/* STYLES GO HERE */
    @cellSpace     	: 70px / 1554*1024;
    @borderSize    	: 10px / 1554*1024;
    @imgWidth    	: 1554px / 1554*1024;
    @imgHeight   	: 533px / 1554*1024;
}
 
/* iPads (landscape) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {
/* STYLES GO HERE */
    @cellSpace     	: 70px / 1554*1024;
    @borderSize    	: 10px / 1554*1024;
    @imgWidth    	: 1554px / 1554*1024;
    @imgHeight   	: 533px / 1554*1024;
}
 
/* iPads (portrait) ----------- */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait) {
/* STYLES GO HERE */
    @cellSpace     	: 70px / 1554*1024;
    @borderSize    	: 10px / 1554*1024;
    @imgWidth    	: 1554px / 1554*1024;
    @imgHeight   	: 533px / 1554*1024;
}
 
/* Desktops and laptops ----------- */
@media only screen
and (min-width : 1224px) {
/* STYLES GO HERE */
    @cellSpace     	: 70px / 1554*1224;
    @borderSize    	: 10px / 1554*1224;
    @imgWidth    	: 1554px / 1554*1224;
    @imgHeight   	: 533px / 1554*1224;
}
 
/* Large screens ----------- */
@media only screen
and (min-width : 1824px) {
/* STYLES GO HERE */
    @cellSpace     	: 70px;
    @borderSize    	: 10px;
    @imgWidth    	: 1554px;
    @imgHeight   	: 533px;
}
 
/* iPhone 5 (portrait &amp; landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px) {
/* STYLES GO HERE */
    @cellSpace     	: 70px / 1554*568;
    @borderSize    	: 10px / 1554*568;
    @imgWidth    	: 1554px / 1554*568;
    @imgHeight   	: 533px / 1554*568;
}
 
/* iPhone 5 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
/* STYLES GO HERE */
    @cellSpace     	: 70px / 1554*568;
    @borderSize    	: 10px / 1554*568;
    @imgWidth    	: 1554px / 1554*568;
    @imgHeight   	: 533px / 1554*568;
}
 
/* iPhone 5 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
/* STYLES GO HERE */
    @cellSpace     	: 70px / 1554*568;
    @borderSize    	: 10px / 1554*568;
    @imgWidth    	: 1554px / 1554*568;
    @imgHeight   	: 533px / 1554*568;
}

/* iPhone 6 (portrait &amp; landscape)----------- */
@media only screen
and (min-device-width : 414px)
and (max-device-width : 736px) {
/* STYLES GO HERE */
    @cellSpace     	: 70px / 1554*736;
    @borderSize    	: 10px / 1554*736;
    @imgWidth    	: 1554px / 1554*736;
    @imgHeight   	: 533px / 1554*736;
}
 
/* iPhone 6 (landscape)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : landscape) {
/* STYLES GO HERE */
    @cellSpace     	: 70px / 1554*736;
    @borderSize    	: 10px / 1554*736;
    @imgWidth    	: 1554px / 1554*736;
    @imgHeight   	: 533px / 1554*736;
}
 
/* iPhone 6 (portrait)----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 568px)
and (orientation : portrait) {
/* STYLES GO HERE */
    @cellSpace     	: 70px / 1554*736;
    @borderSize    	: 10px / 1554*736;
    @imgWidth    	: 1554px / 1554*736;
    @imgHeight   	: 533px / 1554*736;
}


#layout {
	background-color: #558ED5;
	width           : @cellSpace * (@boardSize + 1) + (@borderSize * 3);
	height          : @cellSpace * (@boardSize + 1) + (@borderSize * 3);

}
/**
 * Grid labels
 */
.grid {
	font-size: 16px;
	font-weight: bolder;
}
.row-table-left {
	position: absolute;
	top     : @cellSpace;
	left    : @borderSize * 2;
	.rows {
		width : @cellSpace;
		height: @cellSpace;
	}
}
.row-table-right {
	position: absolute;
	top     : @cellSpace;
	left    : @cellSpace * (@boardSize + 1) + (@borderSize * 2);
	.rows {
		width : @cellSpace;
		height: @cellSpace;
	}
}
.col-table-upper {
	position: absolute;
	top		: @borderSize * 2;
	left    : @cellSpace;
	.cols {
		width : @cellSpace;
		height: @cellSpace;
	}
}
.col-table-lower {
	position: absolute;
	top     : @cellSpace * (@boardSize + 1) + @borderSize;
	left    : @cellSpace;
	.cols {
		width : @cellSpace;
		height: @cellSpace;
	}
}
#chess_board {
	position: absolute;
	top     : @cellSpace/2 + @borderSize;
	left    : @cellSpace/2 + @borderSize;
	border  : @borderSize solid #823500;

	td {
		background        : #fff;
		background        : -moz-linear-gradient(top, #fff, #948A54);
		background        : -webkit-gradient(linear,0 0, 0 100%, from(#fff), to(#948A54));
		box-shadow        : inset 0 0 0 1px #fff;
		-moz-box-shadow   : inset 0 0 0 1px #fff;
		-webkit-box-shadow: inset 0 0 0 1px #fff;
		height            : @cellSpace;
		width             : @cellSpace;
		text-align        : center;
		vertical-align    : middle;
		overflow          : hidden;
		
		.piece {
			margin-left      : (@cellSpace - (@cellSpace*@boardSize/@pieceNumber)) / 2;
			background-color : transparent;
			background-image : @pieceImg;
			background-size  : @cellSpace*@boardSize @cellSpace*2;
			width            : @cellSpace*@boardSize/@pieceNumber;
			height           : @cellSpace;
			vertical-align   : middle;
			text-align       : center;			
		}
	}
	tr:nth-child(odd) td:nth-child(even),
	tr:nth-child(even) td:nth-child(odd) {
		background        : #ccc;
		background        : -moz-linear-gradient(top, #ccc, #eee);
		background        : -webkit-gradient(linear,0 0, 0 100%, from(#ccc), to(#eee));
		box-shadow        : inset 0 0 10px rgba(0,0,0,.4);
		-moz-box-shadow   : inset 0 0 10px rgba(0,0,0,.4);
		-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,.4);
	}
}
.controls {
	position      : absolute;
	top           : @cellSpace * (@boardSize * 0.7) + (@borderSize * 3) ;
	left          : @cellSpace * (@boardSize + 1.6);
	.rotate, .reset {
		background    : #3C8B1B;
		background    : -moz-linear-gradient(top, #3c8b1b 0%, #036832 100%);
		background    : -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3C8B1B), color-stop(100%, #036832));
		background    : -webkit-linear-gradient(top, #3C8B1B 0%, #036832 100%);
		background    : -o-linear-gradient(top, #3c8b1b 0%, #036832 100%);
		background    : -ms-linear-gradient(top, #3c8b1b 0%, #036832 100%);
		background    : linear-gradient(to bottom, #3C8B1B 0%, #036832 100%);
		filter        : progid:DXImageTransform.Microsoft.gradient(startColorstr='#3c8b1b', endColorstr='#036832', GradientType=0);
		color         : #FFF;
		border        : 1px solid #A7A7A7;
		border-radius : 4px;
		width         : @cellSpace;
		height        : @borderSize * 3;
	}
}


/**
 * chess piece css here
 */
.CASTLE      { background-position : -@cellSpace*@boardSize/@pieceNumber * 14 0;          background-color: transparent; }
.KNIGHT      { background-position : -@cellSpace*@boardSize/@pieceNumber * 13 0;          background-color: transparent; }
.BISHOP      { background-position : -@cellSpace*@boardSize/@pieceNumber * 12 0;          background-color: transparent; }
.QUEEN       { background-position : -@cellSpace*@boardSize/@pieceNumber * 11 0;          background-color: transparent; }
.KING        { background-position : -@cellSpace*@boardSize/@pieceNumber * 10 0;          background-color: transparent; }
.PAWN        { background-position : -@cellSpace*@boardSize/@pieceNumber * 9  0;          background-color: transparent; }
.MIND        { background-position : -@cellSpace*@boardSize/@pieceNumber * 8  0;          background-color: transparent; }
.ENVIRONMENT { background-position : -@cellSpace*@boardSize/@pieceNumber * 7  0;          background-color: transparent; }
.GENETICS    { background-position : -@cellSpace*@boardSize/@pieceNumber * 6  0;          background-color: transparent; }
.QUARKS1     { background-position : -@cellSpace*@boardSize/@pieceNumber * 5  0;          background-color: transparent; }
.QUARKS2     { background-position : -@cellSpace*@boardSize/@pieceNumber * 2  0;          background-color: transparent; }
.MOON        { background-position : -@cellSpace*@boardSize/@pieceNumber * 4  0;          background-color: transparent; }
.SUN         { background-position : -@cellSpace*@boardSize/@pieceNumber * 3  0;          background-color: transparent; }
.PRINCE      { background-position : -@cellSpace*@boardSize/@pieceNumber * 1  0;          background-color: transparent; }
.PRINCESS    { background-position : -@cellSpace*@boardSize/@pieceNumber * 0  0;          background-color: transparent; }

.castle      { background-position : -@cellSpace*@boardSize/@pieceNumber * 14 @cellSpace; background-color: transparent; }
.knight      { background-position : -@cellSpace*@boardSize/@pieceNumber * 13 @cellSpace; background-color: transparent; }
.bishop      { background-position : -@cellSpace*@boardSize/@pieceNumber * 12 @cellSpace; background-color: transparent; }
.queen       { background-position : -@cellSpace*@boardSize/@pieceNumber * 11 @cellSpace; background-color: transparent; }
.king        { background-position : -@cellSpace*@boardSize/@pieceNumber * 10 @cellSpace; background-color: transparent; }
.pawn        { background-position : -@cellSpace*@boardSize/@pieceNumber * 9  @cellSpace; background-color: transparent; }
.mind        { background-position : -@cellSpace*@boardSize/@pieceNumber * 8  @cellSpace; background-color: transparent; }
.environment { background-position : -@cellSpace*@boardSize/@pieceNumber * 7  @cellSpace; background-color: transparent; }
.genetics    { background-position : -@cellSpace*@boardSize/@pieceNumber * 6  @cellSpace; background-color: transparent; }
.quarks1     { background-position : -@cellSpace*@boardSize/@pieceNumber * 5  @cellSpace; background-color: transparent; }
.quarks2     { background-position : -@cellSpace*@boardSize/@pieceNumber * 2  @cellSpace; background-color: transparent; }
.moon        { background-position : -@cellSpace*@boardSize/@pieceNumber * 4  @cellSpace; background-color: transparent; }
.sun         { background-position : -@cellSpace*@boardSize/@pieceNumber * 3  @cellSpace; background-color: transparent; }
.prince      { background-position : -@cellSpace*@boardSize/@pieceNumber * 1  @cellSpace; background-color: transparent; }
.princess    { background-position : -@cellSpace*@boardSize/@pieceNumber * 0  @cellSpace; background-color: transparent; }

/* CSS3 Animation rendered with animate.less
 * require animate.less as of animate.lessimport
 * Since we're using CSS3 here, we're limited to only modern browsers like Chrome, Safari, Mozilla, and Opera.
 * Flippers (currently Webkit, Firefox, & IE10 only)
 */
@import 'animate.lessimport';
button:hover, .piece:hover {
  .animated;
  .pulse;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite;  
}
.clicked {
  .animated;
  .tada;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  animation-iteration-count: infinite; 
}


/**
 * Move History
 */
.history {
	position         : absolute;
	top              : @borderSize;
	left             : @cellSpace * (@boardSize + 1.6);
	background-color : #E0DE5A;
	box-shadow       : 10px 10px 5px #888888;
	width            : @cellSpace * 5;
	height           : @cellSpace * (@boardSize * 0.7) + @borderSize;
	.history-title {
		padding-left: @borderSize;
	}
	.history-wrapper {
		width            : @cellSpace * 5;
		height           : @cellSpace * (@boardSize * 0.7);
		overflow		 : scroll;
	}
}

/**
 * Chat Message
 */
.message {
	position         : absolute;
	top              : @cellSpace * (@boardSize * 0.8);
	left             : @cellSpace * (@boardSize + 1.6);
	background-color : #E0DE5A;
	box-shadow       : 10px 10px 5px #888888;
	width            : @cellSpace * 5;
	height           : @cellSpace * (@boardSize * 0.3) + (@borderSize * 2);
	.message-title {
		padding-left: @borderSize;
	}
	.message-wrapper {
		width            : @cellSpace * 5;
		height           : @cellSpace * (@boardSize * 0.3) + (@borderSize);
		overflow		 : scroll;
	}
}

/**
 * Hints
 */
.hint {
    z-index: 999;
    position: fixed;
    div[class^="hint-"] {
        display: none;
        z-index: 999;
        padding: 25px 25px;
        min-width: 240px;
        max-width: @imgWidth/2;
		background        : #fff;
		background        : -moz-linear-gradient(top, #fff, #888888);
		background        : -webkit-gradient(linear,0 0, 0 100%, from(#fff), to(#888888));
		box-shadow        : inset 0 0 0 1px #fff;
		-moz-box-shadow   : inset 0 0 0 1px #fff;
		-webkit-box-shadow: inset 0 0 0 1px #fff;

    }
}

.logged-in {
    position: fixed;
    z-index: 9999;
    padding: 5px 5px;
    background-color: #E0DE5A;
}
