<template name="board">
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-8">
            <table class="col-table-upper grid">
                {{#each cols}}
                <td class="cols">{{this}}</td>
                {{/each}}
            </table>

            <div id="board-wrapper">
                {{{board}}}
            </div>

            <table class="row-table-left grid">
                {{#each rows}}
                <tr class="rows">{{this}}</tr>
                {{/each}}
            </table>

            <table class="col-table-lower grid">
                {{#each cols}}
                <td class="cols">{{this}}</td>
                {{/each}}
            </table>

            <table class="row-table-right grid">
                {{#each rows}}
                <tr class="rows">{{this}}</tr>
                {{/each}}
            </table>
        </div>

        <div class="col-xs-6 col-md-4">
            <div class="controls">
                <button class="rotate">Rotate</button>
                <button class="reset">Reset</button>
            </div>
            <div class="history">
                <label class="history-title">Move History</label>
                <div class="history-wrapper">
                    <ol>
                        {{#each history}}
                        <li>( {{this.piece}} ) {{this.sourceId}} → {{this.targetId}}</li>
                        {{/each}}
                    </ol>
                </div>
            </div>
            <div class="message">
                <label class="message-title">Chat Message</label>
                <input id="message-input" placeholder="type chat message here..." /><button class="chat">Send</button>
                <div class="message-wrapper">
                    <ul reversed>
                        {{#each message}}
                        <li>{{this.CONTENT}}</li>
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{{> hint}}
</template>
