<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SimChess Online</title>
</head>

<body>
    {{#if currentUser }}
    <span class="logged-in">{{> loginButtons}}</span>
    {{> layout}}
    {{else}}
    {{> splash}}
    {{/if}}
</body>

<template name="splash">
<div id="splash">
    <div class="jumbotron">
        <h1>Welcome to SimChess!</h1>
        <p>To start playing SimChess, simply sign up or log in with your account.</p>
        <p>To learn how to play SimChess, please click Lean more and simply go through the tutorial on how the pieces work together.</p>
        <ul>
            <li>{{> loginButtons}}</li>
            <li><a class="btn btn-primary btn-lg btn-show-tutorial" href="#" role="button">Learn more</a></li>
        </ul>
        {{#if show_tutorial }}
        {{> hint}}
        {{/if}}
    </div>
</div>
</template>

<template name='layout'>
<div id="layout">
    {{> board}}
</div>
</template>


<template name="hint">
<div class="hint jumbotron">
    <div class="hint-pawn">
        <strong>The Pawn</strong>
        <p> Basic SimChess rules of the pawn have it moving in the simplest way, since it can only move one square forward across the board and towards the opponent. The pawn may also rescue one of its pieces should it be able to make it to the opponents side. The only piece it may not reclaim is the sun.</p>
        <p> When the pawn is in its initial position, it may move two squares forward. Pawns have less value in comparison to the other pieces, but can become the most valuable should you need your queen back. The pawn may move diagonally to capture an opponent.</p> 
        <img src="img/pawn.gif" />
    </div>
    <div class="hint-prince-and-princess">
        <strong>Prince & Princess</strong>
        <p>The prince and princess’ moves are similar to those of the bishop. However, they also have a special move rather like the pawn. The special move enables either the prince or princess to take the opponent’s prince or princess ,taking it from a light square to dark square or vice versa. This move may not be used to take other pieces.</p>
        <p>In the game of “SimChess Random” an opponent will have to take both the prince and princess to win the game, should the dice decide these are the pieces that you will be protecting. The rules of SimChess Random can be found at the end of this book.i</p>
        <img src="img/prince.gif" />
    </div>
    <div class="hint-castle">
        <strong>The Castle</strong>
        <p>Basic SimChess rules of the Rook or castle says it is capable of moving only along files and ranks, again any number of squares.</p>
        <img src="img/castle.gif" />
    </div>
    <div class="hint-knight">
        <strong>The Knight</strong>
        <p>The Knight has an awkward way to move its move forms an ‘L’ in any direction, namely it moves two squares horizontally and one vertically or vice versa.</p>
        <img src="img/knight.gif" />
    </div>
    <div class="hint-bishop">
        <strong>The Bishop</strong>
        <p>The Bishop can only move along diagonals any number of squares. So, the Bishops are always moving on squares of the same colour.</p>
        <p>A Bishop moving on white squares is called a ‘light-squared bishop’, as opposed to the ‘dark-squared bishop’, which moves on black squares.</p>
        <img src="img/bishop.gif" />
    </div>
    <div class="hint-queen">
        <strong>The Queen</strong>
        <p>Basic SimChess rules for the Queen is that it can move in all directions, namely horizontally, vertically or diagonally, but any number of squares.</p>
        <p>In the game of “SimChess Random” the King may also be a piece that will become the decider. SimChess random is explained at the end of this section.</p>
        <img src="img/queen.gif" />
    </div>
    <div class="hint-king">
        <strong>The King</strong>
        <p>The king can move only one square at a time, horizontally, vertically or diagonally. In the new game of chess, SimChess the king is still the piece that decides the victor of the game.</p>
        <p>In the game of “SimChess Random” the King may also be a piece that will become the decider. SimChess random is explained at the end of this section.</p>
        <img src="img/king.gif" />
    </div>
    <div class="hint-mind">
        <strong>Mind</strong>
        <p>The ‘Mind’ sits on each corner of the board. The piece, denoted by a brain, moves 4 squares from its start square: two horizontally, vertically or diagonally and then two squares either diagonally vertically or horizontally. The piece moves two squares left or right or forward or backwards and can only take on the last move. This piece can jump one of its own players and can move anywhere on the board.</p>
        <img src="img/mind.gif" />
    </div>
    <div class="hint-environment">
        <strong>The Environment</strong>
        <p>‘Environment‘ moves 4 squares in any direction from its start position but must include a 45 degree change of direction during the move. The piece can jump one of its own players and can only take on its last move.</p>
        <img src="img/environment.gif" />
    </div>
    <div class="hint-genetics">
        <strong>Genetics</strong>
        <p>‘Genetics’ represents our greater understanding of that wide and varied science, genetics. Genetics moves 3 squares horizontally, vertically or diagonally. It cannot jump any piece but takes on the last move.</p>
        <img src="img/genetics.gif" />
    </div>
    <div class="hint-quarks">
        <strong>Quarks</strong>
        <p>‘Quarks’ represent the physical sciences, and also move 4 squares. With in those 4 moves it must make at least one change of direction but no more than two of 90 degrees. This piece does not move diagonally.</p>
        <img src="img/quark.gif" />
    </div>
    <div class="hint-moon">
        <strong>The Moon</strong>
        <p>‘Moon’ moves are a little more complicated. Moon moves four squares on the first move, in any direction, and then must make two other directional changes of 45 degrees in the arc. It may jump any piece on the board but can only take on the last move.</p>
        <img src="img/moon.gif" />
    </div>
    <div class="hint-sun">
        <strong>The Sun</strong>
        <p>The sun’s moves are similar to those of the Queen: it may jump one of its own side. but it may not be redeemed once it has been taken. so take care of this piece.</p>
        <p>In the game of "SimChess Random" the sun may also be a piece that will become the decider.</p>
        <img src="img/sun.gif" />
    </div>
</div>
</template>
